<div class="usuarios-page">

    <!-- HEADER -->

    <div class="header">

        <div>

            <h1>
                👥 Gestión de Usuarios
            </h1>

            <p>
                Administración de clientes, técnicos y administradores
            </p>

        </div>

        <div class="nuevo-usuario-container">

        <button
            class="btn-nuevo"
            (click)="mostrarOpciones = !mostrarOpciones">

            + Nuevo Usuario

        </button>

        <div
            class="menu-nuevo-usuario"
            *ngIf="mostrarOpciones">

            <button
                class="opcion-usuario"
                (click)="abrirModal('ADMINISTRADOR')">

                👨‍💼 Administrador

            </button>

            <button
                class="opcion-usuario"
                (click)="abrirModal('TECNICO')">

                🛠️ Técnico

            </button>

        </div>

    </div>

    </div>


    <!-- BUSCADOR -->

    <div class="buscador-container">

        <input
            type="text"
            placeholder="Buscar usuario..."
            [(ngModel)]="buscador">

    </div>

    <!-- CARDS RESUMEN -->

    <div class="cards-resumen">

        <div class="card-mini" 
        (click)="filtrarPorRol('')">

            <h3>📋 Todos</h3>
            <h1>{{ usuarios.length }}</h1>
        </div>

        <div class="card-mini"
        (click)="filtrarPorRol('Cliente')">

            <h3>
                👥 Clientes
            </h3>

            <h1>
                125
            </h1>

        </div>

        <div class="card-mini"
        (click)="filtrarPorRol('Técnico')">

            <h3>
                🛠️ Técnicos
            </h3>

            <h1>
                18
            </h1>

        </div>

        <div class="card-mini"
        (click)="filtrarPorRol('Administrador')">

            <h3>
                🛡️ Administradores
            </h3>

            <h1>
                3
            </h1>

        </div>

    </div>

    <!-- TABLA -->

    <div class="tabla-container">

        <table>

            <thead>

                <tr>

                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th>Teléfono</th>

                    <!-- SOLO CLIENTE -->
                    <th *ngIf="filtroRol === 'Cliente'">
                         Dirección
                    </th>

                    <!-- SOLO TÉCNICO -->
                    <th *ngIf="filtroRol === 'Técnico'">
                        Especialidad
                    </th>

                    <th *ngIf="filtroRol === 'Técnico'">
                        Nivel
                    </th>

                    <th *ngIf="filtroRol === 'Técnico'">
                        Sueldo
                    </th>

                    <th>Estado</th>
                    <th>Acciones</th>

                </tr>

            </thead>

            <tbody>

                <tr
                    *ngFor="let usuario of usuariosFiltrados">

                    <td>
                        {{ usuario.nombre }}
                    </td>

                    <td>
                        {{ usuario.apellido }}
                    </td>

                    <td>
                        {{ usuario.correo }}
                    </td>

                    <td>
                        {{ usuario.telefono }}
                    </td>

                    <!-- SOLO CLIENTE -->
                    <td *ngIf="filtroRol === 'Cliente'">
                        {{ usuario.direccion }}
                    </td>

                    <!-- SOLO TÉCNICO -->
                    <td *ngIf="filtroRol === 'Técnico'">
                        {{ usuario.especialidad }}
                    </td>

                    <td *ngIf="filtroRol === 'Técnico'">
                        {{ usuario.nivel }}
                    </td>

                    <td *ngIf="filtroRol === 'Técnico'">
                        {{ usuario.sueldo }}
                    </td>

                    <td>

                        <span
                            class="estado"
                            [ngClass]="{
                                'activo': usuario.estado === 'Activo',
                                'inactivo': usuario.estado === 'Inactivo'
                            }">

                            {{ usuario.estado }}

                        </span>

                    </td>

                    <td class="acciones">

                        <button
                            class="btn-editar"
                            (click)="editarUsuario(usuario)">

                            ✏️

                        </button>

                        <button
                            class="btn-estado"
                            (click)="cambiarEstado(usuario)">

                            🔄

                        </button>

                        <button
                            class="btn-eliminar"
                            (click)="eliminarUsuario(usuario.correo)">

                            🗑️

                        </button>

                    </td>

                </tr>

            </tbody>

        </table>

    </div>

    <!-- VENTANA FLOTANTE -->
    <div class="modal-overlay" *ngIf="mostrarModal">

        <div class="modal-contenido">

            <h2>Registrar {{ tipoUsuario }}</h2>

            <form>

                <!-- CAMPOS COMUNES -->
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text">
                </div>

                <div class="form-group">
                    <label>Apellido</label>
                    <input type="text">
                </div>

                <div class="form-group">
                    <label>Correo</label>
                    <input type="email">
                </div>

                <div class="form-group">
                    <label>Teléfono</label>
                    <input type="text">
                </div>

                <!-- CAMPOS COMUNES + TÉCNICO -->
                <div *ngIf="tipoUsuario === 'TECNICO'">

                    <div class="form-group">
                        <label>Especialidad</label>
                        <input type="text">
                    </div>

                    <div class="form-group">
                        <label>Nivel</label>
                        <input type="text">
                    </div>

                    <div class="form-group">
                        <label>Sueldo</label>
                        <input type="number">
                    </div>

                </div>

            </form>

            <div class="modal-acciones">

                <button (click)="mostrarModal = false">
                    Cancelar
                </button>

                <button>
                    Guardar
                </button>

            </div>

        </div>

    </div>

</div>
