<div class="contenedor">

    <div class="login-box">

        <h1 class="titulo">
            {{titulo}}
        </h1>

        <p class="subtitulo">
            Ingrese sus credenciales
        </p>

        <form>

            <!-- LOGIN -->
            <div *ngIf="!mostrarMFA">

                <div class="input-group">

                    <label>Usuario</label>

                    <input 
                        type="text"
                        placeholder="Ingrese Usuario"
                        [(ngModel)]="usuario"
                        name="usuario">

                </div>

                <div class="input-group">

                    <label>Contraseña</label>

                    <input 
                        type="password"
                        placeholder="Ingrese Contraseña"
                        [(ngModel)]="contrasena"
                        name="contrasena">

                </div>

                <button 
                    type="submit"
                    class="btn-login">

                    Iniciar Sesión

                </button>

                <div class="opciones">

                    <button 
                        type="button"
                        class="link-btn"
                        (click)="mostrarMFA = true">

                        Opciones de inicio

                    </button>

                </div>

            </div>

            <!-- MFA -->
            <div class="mfa-box" *ngIf="mostrarMFA">

                <!-- Flecha regresar -->
                <button
                    type="button"
                    class="back-btn"
                    (click)="mostrarMFA = false">

                    ← Regresar

                </button>

                <h3>Autenticación MFA</h3>

                <button type="button" class="mfa-btn">
                    Código SMS
                </button>

                <button type="button" class="mfa-btn">
                    Google Authenticator
                </button>

                <button type="button" class="mfa-btn">
                    Correo Electrónico
                </button>

            </div>

        </form>

    </div>

</div>